*{ box-sizing: border-box;}
.App{
  background-color: #14171d;
  color: #c0c5ce;

}
h1{
  color: white;
}
.navbar{
  z-index: 999;
  top:0;
  height: 5vH;
  width: 100%;
  position: fixed;
  color: white;
  background-color: #14171d;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #202530;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.navbar > div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navbar-minimized{
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100%;
}
.navbarChoice{
  --border-color:#56c9aa;
  --border-width: 1px;
  --bottom-distance: 0px;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: 0.3s;
  background-position: 0% calc(100% - var(--bottom-distance));
}
.navbarChoice:hover{
  background-size: 100% var(--border-width);
}
.right-items{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.left-items{
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.Timeline{
  margin-top:5vH;
  display: flex;
  height: 95vH;
  justify-content: center;
  align-items: center;
}

.timelineContainer{
  display: flex;
  height: calc(100vH - 5vH);
  width: 100vW;
  padding: 2% 5%;
  background-color: #14171d;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.yearColumn{
  width: 12%;

  margin: none 2%;
}
.monthColumn{
  width: 12%;
  margin: none 2%;
}
.dayColumn{
  width: 12%;
  margin: none 2%;
  overflow-y: auto;
}
.songList{
  width: 64%;
  overflow-y: auto;
}
.timestamp{
  padding: 4px;
}
.selected{
  background: linear-gradient( 
    40deg
    ,#206653,#56c9aa );
}
.card{
  --border-color:#56c9aa;
  --border-width: 1px;
  --bottom-distance: 4px;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: 0.3s;
  background-position: 0% calc(100% - var(--bottom-distance));
}
.card:hover{
  background-size: 100% var(--border-width);
}
.card-maximized{
  background: linear-gradient( 
40deg
,#206653,#56c9aa );

}

.upper{
  padding: 3%;
}

/* LOADING BAR */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

ul, li {
  list-style: none;
  padding: 0;
}
.tracklistContainer {
  padding: 0 1rem;
  background-color: #14171d;
  padding: 3rem 0;
}
.tracklistWrapper {
  background: #eaf6ff;
  background-color: #14171d;
  padding: 2rem;
  border-radius: 15px;
}
h1 {
  font-size: 1.1rem;
  font-family: sans-serif;
}
.tracksPlayed {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
li {
  padding-bottom: 1.5rem;
  border-left: 1px dashed #c0c5ce;
  position: relative;
  padding-left: 20px;
  margin-left: 10%;
}
li:last-child {
  border: 0px;
  padding-bottom: 0;
}
li:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #56c9aa;
  border: 1px solid #56c9aa;
  box-shadow: 3px 3px 0px #206653;
  box-shadow: 3px 3px 0px #206653;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
.time {
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 601px) {
  .time {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .time {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}
p {
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 0.4rem;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}
.timeline__time {
  padding-right: 35vw;
  font-size: 16px; 
}
.timeline__content{
    text-align: left;
  }
.timeline__title {
    padding-bottom: 15px;
    padding-left: 12vW;
    font-size: 24px; }

.timeline__points {
      padding-left: 12vW; }
  
.Insights{
  width: 100vW;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a:link {
  color:inherit;
}
