


h1{
  color: black;
}
li{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5 em;
}
.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.username-input {
  border: none;
  border-bottom: 2px solid black;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: center;

}


.username-input::placeholder{
  color: white;
  width: 100%;
  height: 100%;
  
}
.trackList{
  border-style: solid 2px;
  padding: none;
  border-color: white;
  display: grid;
  width: 100%;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.listTrack{
  border-radius: 5em;
}
.username-form{
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
h1{
  color: white;
}

.card-default{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  margin: 0.5em;
  height: 50px;
  width: 700px;
}
.card-expanded{
  border-radius: 1em;
  margin: 0.5em;
  height: 200px;
  width: 700px;

}
.card-maximized{
  border-radius: 1em;
  margin: 0.5em;
  width: 700px;
}

.upper{
  background: rgba(255, 255, 255, 0.3);
  border-top-left-radius:0.2em; 
  border-top-right-radius:0.8em;

}

.lower{
  text-align: left;
}

.artistname{
  font-size: 0.5em;
}

.sortmenu{
  display: flex;
}
.choice{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  .choice:hover{
    color:#000000; 
    background-color:#FFFFFF;
  }
  .choice-selected{
    color:#000000; 
    background-color:#FFFFFF;
  }


  .navbar{
    z-index: 999;
    top:0;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }
  .navbar-minimized{
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
    background-color: blue;
  }

  .right-items{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }
  .left-items{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
  }
 
.minimized>ul>li{
  display: none;
  transition: all 1s;
}
.expanded{
  transition: all 1s;
}
.list-item-expanded{
  display: none;
}