.App{
  background-color: #140830;
  height: 100vh;
}
h1{
  color: white;
}
.navbar{
  z-index: 999;
  top:0;
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
  background-color: #000000e8;
  display: flex;
  justify-content: space-between;
}
.navbar > div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navbar-minimized{
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100%;
  background-color: blue;
}

.right-items{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.left-items{
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.Timeline{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usernameForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  /* background: radial-gradient( #f72585, #b5179e, #7209B7, #560BAD,
  #480CA8, #3A0CA3, #3F37C9, #4361EE, #4895EF, #4CC9F0 ); */
  background: white;
  border-radius: 0.3em;
  border: 5px solid black;
  margin: 0.5em;
  width: 700px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.card:nth-child(5n+1) {
  background:  radial-gradient(#1fe4f5, #3fbafe);
}

.card:nth-child(5n+2) {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card:nth-child(5n+3) {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card:nth-child(5n+4) {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card:nth-child(5n+5) {
  background: radial-gradient(#f588d8, #c0a3e5);
}

.card-default{
  height: 20vH;
}
.card-expanded{
  height: 50vh;

}
.card-minimized{
  display: none;
}
.card-maximized{
  width: 700px;
}
.upper{
  border-top-left-radius:0.2em; 
  border-top-right-radius:0.8em;
  text-align: center;

} 
.minimized{
  display: none;
  transition: all 1s;
}
.expanded{
  transition: all 1s;
}
.list-item-expanded{
  display: none;
}

.card:nth-child(5n+1) {
  background:  radial-gradient(#1fe4f5, #3fbafe);
}

.card:nth-child(5n+2) {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card:nth-child(5n+3) {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card:nth-child(5n+4) {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card:nth-child(5n+5) {
  background: radial-gradient(#f588d8, #c0a3e5);
}

.card-default{
  height: 50px;
}
.card-expanded{
  height: 200px;

}
.card-m


.cardYear{
  height: 100vH;
  width: 25vW;
}
.cardMonth{
  height: 100vH/12;
  width: auto;
}
.cardMonth>.lower>span{
  display: flex;
  flex-direction: row;
  width: 50vW;
  flex-wrap: wrap;
}
.cardDay{
  position: relative;
  width: 50px;
}



.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}